# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

bin/*
build/*
.vscode/*

Makefile.am
.cvsignore

src/bulletml/bin/*
SDL/SDL-1.2-release-1.2.5/*
SDL/SDL-1.2-release-1.2.5.zip
SDL_mixer/SDL_mixer-1.2.7/*
SDL_mixer/SDL_mixer-1.2.7.zip
